{
  "parser": "babel-eslint",
  "extends": ["airbnb"],
  "plugins": ["html"],
  "rules": {
    "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx"] }],
    "react/prop-types": [0],
    "react/jsx-props-no-spreading": [0],
    "import/extensions": "off",
    "import/no-dynamic-require": "off",
    "no-plusplus": [0],
    "global-require": "off"
  }
}
